{% extends 'main/base.html' %}

{% block body %}
{% load add_css %}

<h2> Add credentials to your livestream </h2>
<br>
<div class="well well-lg">
	<div class="form-group">
	    <form action="" method="post">

	        {% csrf_token %}

	        {% for field in form %}

	        	<label for="{{ field.id_for_label }}">{{ field.label }}</label>
	        	{{ field|addCss:"form-control" }}

	        {% endfor %}

	        <button type="submit">Submit</button>

	    </form>
	</div>
</div>

    

{% endblock %}